@font-face {
  font-family: Abel;
  src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Livvic;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
@font-face {
  font-family: Cinzel;
  src: url(../fonts/Livvic/Livvic-Regular.ttf);
}
@font-face {
  font-family: Old_Standard_TT;
  src: url(../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf);
}
