#about {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .aboutText {
    padding: 2rem 0;
    h3 {
      text-transform: uppercase;
      font-weight: map-get($font-weight, bold);
      padding-bottom: 1rem;
    }
    P {
      line-height: 1.3rem;
      margin-top: 1rem;
      .style {
        text-transform: capitalize;
        font-weight: map-get($font-weight, small);
      }
    }
  }
  .progressDiv {
    padding: 2rem 0;
    h3 {
      text-transform: uppercase;
      font-weight: map-get($font-weight, bold);
      padding-bottom: 1rem;
    }
    h4 {
      text-transform: capitalize;
    }
    .progress-bar {
      border-radius: 1rem;
    }
  }
}
