.font-abel {
  font-family: $font-abel;
}
.font-rale {
  font-family: $font-raleway;
}
.font-old {
  font-family: $font-old;
}
.font-cinzel {
  font-family: $font-cinzel;
}
.font-livvic {
  font-family: $font-livvic;
}
.font-22 {
  font-size: 22px;
}
